[Desktop Entry]
Type=Application
Name=WhatsApp
GenericName=Messenger
Comment=WhatsApp Web in a wrapper
Icon=/home/tim/Pictures/WhatsApp.png
Exec=/usr/bin/chromium-browser --app=https://web.whatsapp.com/
Terminal=false
StartupWMClass=chrome-web.whatsapp.com__-Default
Categories=Network;InstantMessaging;Chat;
StartupNotify=true
SingleMainWindow=true
