#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WorkFlowy - Organize your brain.
GenericName=WorkFlowy
Comment=WorkFlowy desktop webapp
Exec=/opt/google/chrome/google-chrome --app=https://workflowy.com/
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=/home/tim/Workspace/ubuntu-webapps/WorkFlowy.png
Categories=Network;Application;
Keywords=WorkFlowy;todo;list;webapp;
X-Ubuntu-Gettext-Domain=WorkFlowy
StartupWMClass=workflowy.com
